.home__image {
  width: 100%;
  margin-bottom: -140px;
  mask-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 8) 80%,
    transparent
  );
  min-height: 300px;
}

.home__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 1em;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  padding: 0 2em;
  margin-top: 1em;
}

.home {
  background-color: #cbcbcb;
  min-width: 100%;
  padding-bottom: 2em;
}

.home__card__row {
  width: 90vw;
  margin: auto;
}

.home__card {
  /* background: #5f5e5e; */
  padding: 2em 0;
}

.home__btn {
  position: absolute;
  color: #cbcbcb;
  top: 15vw;
  z-index: 1;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  padding: 2em 0.5em;
  mix-blend-mode: difference;
  transition: all 0.5s;
}

.home__btn--next {
  left: 10px;
}

.home__btn--previous {
  right: 10px;
}

.home__btn:hover {
  border: 1px solid #cbcbcb;
  border-radius: 0.5em;
  background-color: #cbcbcb62;
}

@media screen and (max-width: 600px) {
  .home__row {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0 1em;
  }

  .home__btn {
    top: 35vw;
    font-size: 0.8em;
    padding: 1em 0.5em;
  }

  .slick-next:before, .slick-prev:before, .slick-prev:after, .slick-next:after {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .home__row {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 0 1em;
  }
}
