.header {
  max-width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0  clamp(10px, 2vw, 40px);
  margin-top: 10px;
}

.header__searchIcon {
  width:35px !important;
  padding: 4px;
  height: 36px !important;
  background-color: #e4a552;
  border-radius: 0 6px 6px 0;
  position: absolute;
  right: 5%;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__searchInput {
  height: 36px;
  padding-left: 10px;
  border: none;
  width: 90%;
  border-radius: 6px;
  font-size: 1em;
}

.header__searchInput:focus{
  outline: 3px solid #ed9a2d;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0.5;
  margin-right: 10px;
}

.header__optionLineOne {
    white-space: nowrap; 
}

.header__optionLineTwo {
  font-weight: 800;
  white-space: nowrap; 
}

.header__optionBasket {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  color: #ed9a2d;
}

.header__shoppingIcon {
  margin-top: -5px;
  width: 100%;
}

.header__link {
  text-decoration: none;
}

.hidden,
.mobile_screen {
  display: none;
}

.dropdown__toggle {
  display: none;
}
.dropdown__toggle span{
  color: white;
}

.dropdown__toggle span:hover{
  color: #e4a552;
  cursor: pointer;
}

.large_screen {
  display: flex;
  gap: 20px;
}


@media screen and (max-width: 600px) {
  .dropdown__toggle {
    display: block;
  }
  .large_screen {
    display: none;
  }
  .header__logo {
    width: 80px;
  }
  .header__searchInput {
    height: 32px;
    padding-left: 10px;
    border: none;
    width: 80%;
    font-size: .9em;
  }
  .header__searchIcon {
    width:32px !important;
    height:32px !important;
  }
  .dropdown__menu {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #131921;
    z-index: 100;
    overflow: hidden;
    top: 60px;
    right: 10px;
    animation: slideUp .6s ease .6s 1 both ;
  }

  .dropdown__menu-hidden {
    display: none;
  }

}


@keyframes slideUp {
  from {
    transform: translateY(-100%), translateX(10px);
  }
  to {
    transform: translateY(0%), translateX(10px);
  }
}